/* NAVBAR */
.header{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 5rem;
}
.header .navbar a{
    font-size: 1.5rem;
    color: whitesmoke;
    padding:1rem;
}
.header .navbar a:hover{
    color: grey;
    border-bottom:0.1rem solid grey;
    padding-bottom: 0.5rem;
}
.header .icons {
    color: whitesmoke;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: grey;
}
#menu-btn{
    display: none;
}
.dark-mode{
  filter: invert(1);
}
.invert{
  filter: invert(1);
}
/* NAVBAR */


html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box
  }
  .formContainer{                         /*Header options and also about the logo*/
      color:#000;
      font-family: 'Arvo',serif;
      font-size:3rem;   
      text-decoration: none;
      size:3rem;
      text-align:center;
  }
  p{
    margin-top: -30px;
    font-size: 1.5rem;
  }
  #formfield{
          font-size: 22px;
          padding-left: 10rem;
  }
  
  button {
    font-family: 'Arvo',serif;
    margin-left: 410px;
    transition:margin-left 0.3s ease-out;  
    letter-spacing: .01em;
    font-size:18px;
    border: none;
    padding: 6px 6px;
    background: #000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
  }
  div.align-right {
    text-align: right;
    border: 0;
    width: 500px;
  }
  input[type=text] {
    font-size: 16px;
    padding:10px 14px;
    margin: 10px 12px;
    box-sizing: border-box;
  }
  input[type=email] {
    font-size: 16px;
    padding: 10px 14px;
    margin: 10px 12px;
    box-sizing: border-box;
  }
  .heading{
      color:#000;
      font-family: 'Arvo',serif;
      text-align:left;
  }
  
  div.formContainer {
    border-radius: 2px;
  }
  
  div.heading {
    letter-spacing: 0.1em;
    font-size: 1rem;
  }
  div.form textarea {
    padding-left: 5px;
    font-size: 18px;
    margin-left:5.2rem;
    margin-top: 1rem;
    display: block;
  }
  .submit{
    font-family: 'Arvo',serif;
  }
  
  @media only screen and (max-width:670px){
    html, body{
      padding: 0;
      margin: 0;
      box-sizing: border-box
    }
    p{
      font-size: 1.2rem;
      margin-top: -12px;
    }
    #formfield{
      font-size: 19px;
      padding-left: 9.5rem;
  }
    .formContainer{  
      font-size:2rem; 
      transition:font-size 0.3s ease-in-out;                        /*Header options and also about the logo*/
      color:#000;
      font-family: 'Arvo',serif; 
      text-align:center;
  }
  input[type=text] {
    font-size: 14px;
    padding:7px 13px;
    margin: 8px 12px;
    box-sizing: border-box;
  }
  input[type=email] {
    font-size: 14px;
    padding: 7px 13px;
    margin: 8px 12px;
    box-sizing: border-box;
  }
  div.form textarea {
    padding-left: 5px;
    font-size: 16px;
    margin-left: 4.6rem;
    margin-top: 1rem;
    display: block;
  }
  .Feedback{
       width:auto;
  }
  button {
    font-family: 'Arvo',serif;
    margin-left: 370px;
    transition:margin-left 0.3s ease-in-out;  
    letter-spacing: .01em;
    font-size:16px;
    border: none;
    padding: 6px 6px;
    background: #000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
  }
  }
  @media only screen and (max-width:620px){
    html, body{
      padding: 0;
      margin: 0;
      box-sizing: border-box
    }
    input[type=text] {
      font-size: 12px;
      padding:5px 11px;
      margin: 8px 12px;
      box-sizing: border-box;
    }
    input[type=email] {
      font-size: 12px;
      padding: 5px 11px;
      margin: 8px 12px;
      box-sizing: border-box;
    }
  p{
    font-size: 0.9rem;
    margin-top:-5px;
  }
    .formContainer{ 
      font-size:1.5rem;  
      transition:font-size 0.3s ease-in-out;                        /*Header options and also about the logo*/
      color:#000;
      font-family: 'Arvo',serif; 
      text-align:center;
  }  
  #formfield{
    font-size: 17px;
    padding-left: 9.5rem;
  }
  div.form textarea {
    font-size: 15px;
    margin-left: 4.6rem;
    margin-top: 1rem;
    display: block;
  }
  button {
    font-family: 'Arvo',serif;
    transition:margin-left 0.3s ease-out;  
    letter-spacing: .01em;
    font-size:14px;
    border: none;
    margin-left: 350px;
    padding: 6px 6px;
    background: #000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
  }
  }
  @media only screen and (max-width:575px){
    html, body{
      padding: 0;
      margin: 0;
      box-sizing: border-box
    }
  p{
    font-size: 0.6rem;
  }  
  input[type=text] {
    font-size: 10px;
    padding:3px 8px;
    margin: 8px 12px;
    box-sizing: border-box;
  }
  input[type=email] {
    font-size: 10px;
    padding: 3px 8px;
    margin: 8px 12px;
    box-sizing: border-box;
  }
  .formContainer{ 
    font-size:1rem;  
    transition:font-size 0.3s ease-in-out;                        /*Header options and also about the logo*/
    color:#000;
    font-family: 'Arvo',serif; 
    text-align:center;
  }  
  #formfield{
  font-size: 16px;
  padding-left: 8rem;
  }
  div.form textarea {
  font-size: 10px;
  margin-left: 4.6rem;
  margin-top: 1rem;
  display: block;
  }
  button {
  font-family: 'Arvo',serif;
  transition:margin-left 0.3s ease-out;  
  letter-spacing: .01em;
  margin-left: 248px;
  font-size:12px;
  border: none;
  padding: 6px 6px;
  background: #000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  }
  }
  @media only screen and (max-width:470px){
    html, body{
      padding: 0;
      margin: 0;
      box-sizing: border-box
    }
    input[type=text] {
      padding:2px 7px;
      margin: 8px 12px;
      box-sizing: border-box;
    }
    input[type=email] {
      padding:2px 7px;
      margin: 8px 12px;
      box-sizing: border-box;
    }
    .formContainer{                        
      color:#000;
      font-family: 'Arvo',serif;
      font-size:0.8rem;   
      text-decoration: none;
      position:absolute;
  }
    p{
      font-size: .4rem;
      text-align: center;
    }  
    #formfield{
      font-size: 14px;
      padding-left: 6vh;
      }
      button {
        font-family: 'Arvo',serif;
        float:left;
        transition:margin-left 0.3s ease-out;  
        letter-spacing: .01em;
        font-size:10px;
        margin-left: 242px;
        border: none;
        padding: 6px 6px;
        background: #000;
        color: #ffffff;
        cursor: pointer;
        border-radius: 4px;
        }
        div.form textarea {
          font-size: 9.5px;
          margin-left: 4.6rem;
          margin-top: 1rem;
          display: block;
          }
    }